<div ng-if="currently">

<table>
    <tr>
        <td><highchart config="hourlyChart"></highchart></td>
        <td><highchart config="dailyChart"></highchart></td>
    </tr>
</table>
    <p>{{currently.temperature | temperature:units}}</p>

    <table>
        <tr>
            <td>Feels like</td>
            <td>{{currently.apparentTemperature | temperature:units}}</td>
        </tr>
        <tr>
            <td>Pressure</td>
            <td>{{currently.pressure | pressure:units}}</td>
        </tr>
        <tr>
            <td>Visibility</td>
            <td>{{currently.visibility | distance:units}}</td>
        </tr>
    </table>
</div>